html,body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  width: 100%;
}

/* === Toast Notification === */
.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #0077b6;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 14px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.4s, bottom 0.4s;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

/* === Loading Spinner === */
#loading-overlay {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0077b6;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Navbar */
.navbar {
  position:absolute;     
  left: 50%;           
  transform: translateX(-50%); 
  width: 90%;          
  background: transparent; 
  color: #f0f9ff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;  
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 1001;
}

.hamburger .bar {
  height: 3px;
  width: 25px;
  background-color: #f0f9ff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.mobile-icon {
  display: none;
  margin-right: 8px;
}

#welcome {
  display: none; 
}

#scrollBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

#scrollBtn i {
  position: absolute;
  font-size: 22px;
  color: #333;
  pointer-events: none;
}

.progress-circle {
  transform: rotate(-90deg);
}

.progress-circle circle {
  fill: none;
  stroke-width: 5;
}

.progress-circle .bg {
  stroke: #eee;
}

.progress-circle .progress {
  stroke:  #ffde4b;
  stroke-linecap: round;
  stroke-dasharray: 157;
  stroke-dashoffset: 157;
  transition: stroke-dashoffset 0.2s linear;
}


/* Logo */
.navbar .logo {
  color: #f0f9ff;
  font-size: 2rem;
  font-weight: bold;
}
.logo .highlight {
  color: #CFDA77; 
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s;
}

.navbar ul li a:hover {
  color: #5FADE5;
}

.nav-links a.active {
  color: #CFDA77; 
}

.navbar ul li .highlight {
  font-size: 1rem;
  color: #CFDA77; 
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem; 
  margin: 0;
  padding: 0;
} 


/* Slider Container */
.slider {
  position: relative;
  height: 40vh;
  overflow: hidden;
}

/* Each slide */
.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Show the active slide */
.slide.active {
  opacity: 1;
}

/* Overlay color */
.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 83, 116, 0.5); 
}


/* Search Item */
.search-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  position: relative;
  background: #fff;
  padding: 2.5rem 2rem;
  transition: all 0.3s ease;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}
.search-container label {
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  display: block;
  color:#62673C;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.search-container select {
  text-align: center;
  height: 60px;
  width: 300px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  flex: 1;
  appearance: none;    
  /* -----------arrow------------ */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><path fill='black' d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 1rem center; 
  background-size: 30px;
  cursor:pointer;
}
.search-container select option {
  cursor:pointer;
  width: 100%;
  font-size: 1.2rem;  
  text-align: center;
}
.search-button {
  height:60px;
  width: 300px;
  padding: 0.5rem 1rem;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color:#f0f9ff;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 45px;
}
.search-container button:hover {
  transform: scale(1.1);
  background-color: #333333;
}

/* Sticky logo style */
.sticky-logo {
  display: none;
  font-weight: bold;
  margin-right: 1rem;
  transition: all 0.3s ease;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 17%;
  margin-left: 60px;
  background-color: #5FADE5;
  padding: 10px;
  border-radius: 5px;
}
.search-container.sticky {
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: -1%;
  width: 100%;
  padding: 0.8rem 1.5rem;
  background: #fff; 
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transform: scale(0.98);
}
.search-container.sticky label {
  display: none;
}
.search-container.sticky .search-button {
  margin-top: -1px; 
}
.sticky-logo .highlight {
  color: #CFDA77; 
}
.search-container.sticky .sticky-logo {
  display: block;
  animation: fadeSlideIn 0.4s ease forwards;
}


/* === Cottage Container === */
.cottage-container {
  background-color: #5FADE5;
  padding: 40px 80px;
  text-align: center;
}

.cottage-container-header {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
  margin-top: -10px;
  letter-spacing: 3px;
}


.cottage-container-subheader {
  font-weight: 500;
  color: #000000b2;
  font-size: 0.9rem;
  margin-bottom: 60px;
  text-align: center;
  margin-top: -10px;
  letter-spacing: 2px;
}

/* === Cottage Grid Layout === */
.cottage-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  justify-items: center;
}

/* === Cottage Card === */
.cottage-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.cottage-card:hover {
transform: scale(1.1);
}

.cottage-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* === Info Section === */
.cottage-info {
  padding: 15px;
  text-align: left;
}

.cottage-info h3 {
  margin: 5px 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.cottage-info p {
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 10px;
  line-height: 1.4;
}

/* === Footer (Price + Button) === */
.cottage-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 1.1rem;
  color: #0077b6;
}

.book-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.book-btn:hover {
  background-color: #0077b6;
}

/* === Heart Icon === */
.heart {
  right: 15px;
  font-size: 1.3rem;
  color: red;
  cursor: pointer;
  transition: transform 0.2s;
}

.heart:hover {
  transform: scale(1.2);
}

/* === Responsive === */
@media (max-width: 768px) {
  .cottage-container {
    padding: 20px;
  }

  .cottage-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}


/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 80%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  animation: slideUp 0.4s ease;
  margin-top: 60px;
}
.close-modal {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
.close-modal:hover {
  color: #ff3f3f;
}

.employee-container-header {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #5FADE5;
}
.employee-card a {
  color: #3a3a3a;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.employee-card a:hover {
  color: #5FADE5;
}

.employee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.employee-card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
  height: 250px;
  align-content: center;
  margin-bottom: 20px;
}

.employee-card:hover {
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.employee-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}


/* ---Contact----*/
.contact-modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height:100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.contact-modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  animation: slideUp 0.4s ease;
  margin-top: 10px;
  max-height: 80vh;
  overflow: auto;
}

.contact-header {
  font-size: 2.8rem;
  margin-bottom: 10px;
  color: #5FADE5;
}

.Bussiness-Partner-header {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #5FADE5;
}

.partner-description, .contact-description {
  font-size: 1rem;
  color: #555;
  max-width: 700px;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 1.5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-message {
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  outline: none;
}

.contact-send-button {
  background-color: #7bc6ff;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #5aa8e8;
}

.copy-right {
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

.copy-right a{
  text-decoration: none;
  color:#5FADE5
}
.copy-right a:hover{
  color:#0400ff
}

@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Responsive Media Queries */
@media(max-width: 1440px) {
  .cottage-container { padding: 6rem 2rem; }
  .sticky-logo {
    margin-right: 9%;
  }
  .search-container.sticky select {
    height: 50px;
    width: 250px;
  }

  .search-container.sticky button {
    height: 50px;
    width: 250px;
  }
}

@media(max-width: 900px) {
  .title h1 { font-size: 5rem; }
  .search-container { gap: 1.5rem; }
  .contact-container { padding: 3rem 1rem; }
  .contact-container{
   background-color: #f0f9ff;
   padding: 7rem;
   display: flex;
   gap: 16rem;
   position: relative;
}

}

@media(max-width: 750px) {
    .hamburger {
    display: flex;
  }
  .mobile-icon {
    display: inline-block;
    color:#62673C;
  }
  .nav-links li:first-child {
    margin-top: 20px;
  }
  
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 25vh;
    width: 40%;
    background-color: #5FADE5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: right 0.3s ease;
    z-index: 1000;
    border-bottom-left-radius: 10px;
  }

  .nav-links li a {
    color: #efeff0;
    font-size: 1.5rem;
  }

  .nav-links.active {
    right: 0;
  }
  .hamburger.toggle .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
  }

  .hamburger.toggle .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.toggle .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .navbar ul { gap: 0.5rem; }
  #scrollBtn {
    bottom: 10px;
    right: 50%;
  }
  .cottage-container { padding: 4rem 1rem; }
  .employee-card { width: 95%; }
  .contact-container { gap: 1rem; }
  /* Logo */
  .navbar .logo {font-size: 1.5rem;}
  .navbar ul li a {font-size: 0.7rem;}
  .navbar ul li .highlight {font-size: 0.7rem;}
  /* Slider Container */
  .slider {height: 50vh;}
  /* Mouse Scroll Indicator */
  .mouse-scroll {
    display: none;
  }
  /* Dots (Indicators) */
  .dot {
    width: 7px;
    height: 7px;
  }
  .search-container {
    flex-direction: column; 
    align-items: stretch;
    width: 80%;
    margin-left: -40px;
  }
  .search-container > div,
  .search-button {
    margin-top: -5px;
    width: 100%;           
  }

  .cottage-container {
    padding: 4rem 1.5rem;
  }

  .cottage-container-header {
    font-size: 2rem;
  }

  .cottage-list {
    gap: 1.5rem;
  }

  .cottage-list .card img {
    height: 150px;
  }

  .slide-btn {
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
  }

  .slide-btn.left {
    left: -10px;
  }

  .slide-btn.right {
    right: -10px;
  }
  .copy-right {
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
}
  .modal-content {
    width: 90%;
    max-height: 60vh;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden; 
  }

  .contact-modal {
    width: 420px;
  }
}

@media(max-width: 500px) {
  .title h1 { font-size: 4rem; }
  .search-container select, .search-button { width: 100%; }
  .cottage-container { padding: 3rem 1rem; }
  .coverflow-container { height: 200px; }
  .employee-card { width: 100%; height: auto; }
  .contact-container { padding: 2rem 1rem; }
}