body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f4f8;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 7rem;
    margin: 0;
    color: #5FADE5;
}

h2 {
    font-size: 1.8rem;
    margin: 10px 0;
}

p {
    font-size: 1.1rem;
    margin: 20px 0;
    color: #555;
}

img {
    max-width: 300px;
    margin: 20px 0;
    animation: popIn 1s ease forwards;
}


@keyframes popIn {
    0% {
    transform: scale(0.5);
    opacity: 0;
    }
    60% {
    transform: scale(1.2);
    opacity: 1;
    }
    100% {
    transform: scale(1);
    }
}

a {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    color: #fff;
    background-color: #5FADE5;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s ease;
}

a:hover {
    background-color: #4b96c7;
}

/* Responsive (mobile view stacked) */
@media(max-width: 750px) {
body {
    height: 100vh;
   
}
h1 {
    font-size: 5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

p {
    font-size: 0.7rem;
    margin: 20px 0;
    color: #555;
}
img {
    max-width: 200px;
}

}