html,body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; 
  width: 100%;
}
/* === Toast Notification === */
.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #0077b6;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 14px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.4s, bottom 0.4s;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

/* === Loading Spinner === */
#loading-overlay {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0077b6;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Navbar */
.navbar {
  position:absolute;     
  left: 50%;           
  transform: translateX(-50%); 
  width: 90%;          
  background: transparent; 
  color: #f0f9ff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;  
}

#scrollBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: none; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

#scrollBtn i {
  position: absolute;
  font-size: 22px;
  color: #333;
  pointer-events: none;
}

.progress-circle {
  transform: rotate(-90deg); 
}

.progress-circle circle {
  fill: none;
  stroke-width: 5;
}

.progress-circle .bg {
  stroke: #eee;
}

.progress-circle .progress {
  stroke:  #ffde4b;
  stroke-linecap: round;
  stroke-dasharray: 157; 
  stroke-dashoffset: 157;
  transition: stroke-dashoffset 0.2s linear;
}


/* Logo */
.navbar .logo {
  color: #f0f9ff;
  font-size: 2rem;
  font-weight: bold;
}
.logo .highlight {
  color: #CFDA77; 
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s;
}

.navbar ul li a:hover {
  color: #5FADE5;
}
.navbar ul li .highlight {
  font-size: 1rem;
  color: #CFDA77; 
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 0.5rem; 
  margin: 0;
  padding: 0;
} 


/* Slider Container */
.slider {
  position: relative;
  height: 95vh;
  overflow: hidden;
}

/* Each slide */
.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Show the active slide */
.slide.active {
  opacity: 1;
}

/* Overlay color */
.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 83, 116, 0.5); 
}

/* Text Content */
.title {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f0f9ff;
  z-index: 2;
  max-width: 50%;

}

.title h1 {
  text-align: left;
  font-size: 9rem;
  margin-bottom: 1rem;
  opacity: 0; 
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

.title .highlight {
  color: #CFDA77; 
}

/* Mouse Scroll Indicator */
.mouse-scroll {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 40px;
    border: 2px solid white;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    margin-bottom: -5px;
}

.mouse-scroll::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 5px;
    height: 7px;
    background: white;
    border-radius: 50%;
    transform: translateX(-50%);
    animation: scrollAnim 1.5s infinite;
}

@keyframes scrollAnim {
    0% { top: 10px; opacity: 1; }
    50% { top: 25px; opacity: 0.5; }
    100% { top: 10px; opacity: 1; }
}

/* Dots (Indicators) */
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 9px;
  height: 9px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
    background: #5FADE5;
}

/* Search Item */
.search-container {
  display: flex;
  background-color: #f0f9ff;
  gap: 3rem;
  padding: 5rem;
  justify-content: center;
}

.search-container label {
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  display: block;
  color:#62673C;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.search-container select {
  text-align: center;
  height: 60px;
  width: 300px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  flex: 1;
  appearance: none;    
  /* arrow */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><path fill='black' d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 1rem center;  
  background-size: 30px;
}

.search-container select option {
  width: 100%;
  font-size: 1.2rem; 
  text-align: center; 
}

.search-button {
  height:60px;
  width: 300px;
  padding: 0.5rem 1rem;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color:#f0f9ff;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 45px;
}
.search-container button:hover {
  transform: scale(1.1);
  background-color: #333333;
}

/* Cottage Section */
.cottage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5FADE5;
  text-align: center;
  padding: 10rem;
}

.cottage-container .cottage-container-header{
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
  margin-top: -50px;
  letter-spacing: 3px;
}

.cottage-container .cottage-container-subheader{
  font-weight: 500;
  color: #000000b2;
  font-size: 0.9rem;
  margin-bottom: 20px;
  text-align: center;
  margin-top: -10px;
  letter-spacing: 2px;
}

.coverflow-container {
  position: relative;
  width: 60%;
  max-width: 90%;
  height: 400px;
  perspective: 1200px;
  display: flex;
  justify-content: center;  
  align-items: center;      
}

.coverflow-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.coverflow-item {
  position: absolute;
  width: 60%;
  height: 100%;
  transition: transform 0.6s ease, opacity 0.6s ease;
  opacity: 0;
  pointer-events: none;
}

.coverflow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.coverflow-item.active {
  transform: translateX(0) scale(1);
  z-index: 3;
  opacity: 1;
  pointer-events: auto;
}

.circle-btn {
  position: absolute;
  bottom: 20px;      
  right: 20px;      
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  color: #333;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.2s, transform 0.3s;
}

/* arrow pointing UP */
.circle-btn::before {
  content: "";
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(-90deg); 
  transition: 0.3s;
}

.circle-btn:hover {
  background: #2c2c2c;
  color: white;
  transform: scale(1.1);
}

.coverflow-item.left {
  transform: translateX(-98%) scale(0.8);
  z-index: 2;
  opacity: 0.7;
}

.coverflow-item.right {
  transform: translateX(98%) scale(0.8);
  z-index: 2;
  opacity: 0.7;
}

.view-more {
  margin-top: 50px;
  margin-left: auto;
}
.view-more a{
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
}

.view-more a:hover {
  color:#277ceb;
}

/* Navigation buttons */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-btn.left { left: -300px; }
.nav-btn.right { right: -300px; }


/*header Parallax Image*/
.header-parallax {
  position: relative; 
  background-image: url('/image/beach2.webp');
  width: 100%;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  overflow: hidden;
}

/* Overlay */
.header-parallax::before {
  content: "";
  position: absolute;
  inset: 0; 
  background: rgba(0, 83, 116, 0.5); 
  z-index: 1;
}

/* Any text/content inside stays above overlay */
.header-parallax > * {
  position: relative;
  z-index: 2;
}

/* Contact Section */
.contact-container{
   background-color: #f0f9ff;
   padding: 7rem;
   display: flex;
   gap: 16rem;
   position: relative;
}

.contact-container .contact-description{
  text-align: left;
  max-width: 50%;
}

.contact-container .contact-header {
  font-weight: bold;
  color: #277ceb;
  font-size: 2rem;
  margin-bottom: -30px;
  margin-top: -30px;
  letter-spacing: 2px;
}

.line{
  font-size:2rem; 
  font-weight:bold; 
  border-bottom:8px solid #333;; 
  padding-bottom:5px; 
  display:block; width:100%;
}

.contact-container .contact-subheader {
  width: 90%;
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
  margin-top: -20px;
}

.contact-container .contact-btn{
  display: inline-block;      /* makes <a> behave like button */
  text-align: center;
  margin-top: -100px;
  background-color: #000000;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;     
  padding: 1rem 4rem;    
  margin-left: 20px;
}
.contact-container .contact-btn:hover{
  transform: scale(1.1);
  background-color: #333333;
}


/* Big Logo on the Left */
.info-logo img {
  margin-left: -50px;
  width: 250px; 
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}
.info-logo img:hover {
  transform: scale(1.1);
}

#googleMap {
  margin-top: 140px;
  margin-bottom: -100px;
  transform: translateY(-50%);
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  animation: mapFadeBounce 2s ease forwards;
}

/* Fade and bounce animation */
@keyframes mapFadeBounce {
  0% { opacity: 0; transform: translateY(-50%) scale(0.8); }
  60% { opacity: 1; transform: translateY(-60%) scale(1.05); }
  100% { opacity: 1; transform: translateY(-50%) scale(1); }
}

.contact-info-container{
   background-color: #5FADE5;
   padding: 5rem;
   display: flex;
   gap: 10rem;
   justify-content: center;
}

.contact-info-container .info-item-right{
  text-align: left;
  width: 50%;

}
.contact-info-container .info-item-left{
  text-align: left;
  width: 50%;

}
.contact-info-container h3{
  color: #f0f9ff;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: -10px;
}

.header-line{
  font-size:2.5em; 
  font-weight:bold; 
  border-bottom:5px solid #ffde4b;
  display:block; width:80%;
  margin-top: 15px;
}

.contact-info-container p {
  font-size: 1.3rem;
  color:#333;
  line-height: 1.6
}

/* Circle Logos */
.social-icons{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.social-icons img:hover {
  transform: scale(1.1);
}

.copy-right {
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

.copy-right a{
  text-decoration: none;
  color:#5FADE5
}
.copy-right a:hover{
  color:#0400ff
}
.contact-box {
  display: flex;
  position: absolute;
  top: -35%;  /* makes the box float above */
  left: 20%;
  transform: translateX(-50%);
  display: flex;
  background: #f0f9ff;;
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 1;
  max-width: 150px;
}

.box-item h2 {
  color: #5FADE5;
  margin-top: 10px;
  font-size: 2rem;
  margin-bottom: -10px;
}

.box-item a{
  color: #5FADE5;
  text-decoration: none;
}

.box-item a:hover {
  color:#003cff
}
.box-item p {
  margin: 0;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height:100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  animation: slideUp 0.4s ease;
  margin-top: 60px;
}
.close-modal {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
.close-modal:hover {
  color: #ff3f3f;
}

.employee-container-header {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #5FADE5;
}
.employee-card a {
  color: #3a3a3a;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
.employee-card a:hover {
  color: #5FADE5;
}
.employee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.employee-card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
  height: 250px;
  align-content: center;
  margin-bottom: 20px;
}
.employee-card:hover {
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}
.employee-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}


/* ---Contact----*/
.contact-modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height:100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.contact-modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  animation: slideUp 0.4s ease;
  margin-top: 10px;
  max-height: 80vh;
  overflow: auto;
}

.contact-header {
  font-size: 2.8rem;
  margin-bottom: 10px;
  color: #5FADE5;
}

.Bussiness-Partner-header {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #5FADE5;
}

.partner-description, .contact-description {
  font-size: 1rem;
  color: #555;
  max-width: 700px;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 1.5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.contact-message {
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  outline: none;
}

.contact-send-button {
  background-color: #7bc6ff;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #5aa8e8;
}

/* ============ Social Icons ============ */
.social-icons-contact{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 25px 0;
}
.social-link {
  color: #2c73df;
  font-size: 24px;
  transition: 0.3s;
}
.social-link:hover {
  color: #205c56;
  transform: scale(1.2);
}
.social-icons-contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.social-icons-contact img:hover {
  transform: scale(1.1);
}

@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Responsive Media Queries */
@media(max-width: 1200px) {
  .title h1 { font-size: 6rem; }
  .cottage-container { padding: 6rem 2rem; }
}

@media(max-width: 900px) {
  .title h1 { font-size: 5rem; }
  .search-container { gap: 1.5rem; }
  .contact-container { padding: 3rem 1rem; }
}

@media(max-width: 750px) {
  .navbar ul { gap: 0.5rem; }
  #scrollBtn {
    bottom: 10px;
    right: 10px;
  }
  .cottage-container { padding: 4rem 1rem; }
  .employee-card { width: 95%; }
  .contact-container { gap: 1rem; }
  /* Logo */
  .navbar .logo {font-size: 1.5rem;}
  .navbar ul li a {font-size: 0.7rem;}
  .navbar ul li .highlight {font-size: 0.7rem;}
  /* Slider Container */
  .slider {height: 50vh;}
  /* Mouse Scroll Indicator */
  .mouse-scroll {
    display: none;
  }
  /* Dots (Indicators) */
  .dot {
    width: 7px;
    height: 7px;
  }
  .search-container {
    flex-direction: column; 
    align-items: stretch;
    width: 80%;
    margin-left: -40px;
  }
  .search-container > div,
  .search-button {
    margin-top: -5px;
    width: 100%;           
  }
  .cottage-container .cottage-container-header{
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .cottage-container .cottage-container-subheader{ 
    font-size: 0.7rem;
    margin-bottom: 50px;
  }
  .coverflow-item {
    position: absolute;
    width: 140%;
    height: 130%;
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
    transform: none !important;
  }
  .coverflow-item.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
  }
  .circle-btn {   
    width: 40px;
    height: 40px;
  }
  .circle-btn::before {padding: 5px;}

  /* hide arrows on mobile */
  .nav-btn {
    display: none;
  }
  .view-more {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-parallax {min-height: 500px;}
  .contact-box {top: -35%;}
  .contact-container {
      flex-direction: column;         
  }
  .contact-container .contact-description {
    max-width: 100%;
    display: flex;                
    flex-direction: column;
    height: 100%;
  }
  .contact-container .contact-header {
    margin-top: 15px;
    font-size: 1.6rem;
  }
  .line{border-bottom:5px solid #333;; }
  .contact-container .contact-subheader {
    margin-bottom: auto;
    font-size: 1.2rem;           
  }
  .contact-container .contact-btn{
    margin-top: 10px;
    font-size: 1rem;   
    margin-left: 0px;
  }
  /* Big Logo on the Left */
  .info-logo img {
    margin-left: -10px;
    width: 60px; 
    margin-bottom: -40px;
  }

  .contact-info-container {
    flex-direction: column;  
    gap: 2rem;
    padding: 2rem;
    text-align: left;      
  }
  .contact-info-container .info-item-right,
  .contact-info-container .info-item-left {
    width: 100%;          
    text-align: left;
  }
  .contact-info-container h3 {
    font-size: 1.2rem;
  }
  .header-line {
    width: 60%;         
    font-size: 1.5rem;
  }
  .contact-info-container p {
    font-size: 1rem;
  }
  .social-icons {
    justify-content: left; 
    margin-bottom: -30px;
  }
  #googleMap {
    width: 100%;
    height: 200px;
    transform: translateY(0);
  }
  .copy-right {
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
}
  .modal-content {
    width: 90%;
    max-height: 60vh;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;  /* still hide left/right scroll */
  }
}

@media(max-width: 500px) {
  .title h1 { font-size: 4rem; }
  .search-container select, .search-button { width: 100%; }
  .cottage-container { padding: 3rem 1rem; }
  .coverflow-container { height: 200px; }
  .employee-card { width: 100%; height: auto; }
  .contact-container { padding: 2rem 1rem; }
}