body {
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  position: relative;
  min-height: 100vh;
  background: none; /* remove default */
  overflow: hidden;
}

/* Background image + blur */
body::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(rgba(0, 83, 116, 0.5), rgba(0, 83, 116, 0.5)),
    url('/image/beach.webp') no-repeat center center/cover;

  filter: blur(2px);   /* BLUR EFFECT */
  z-index: -1;         /* put behind everything */
}

#splashScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}
    
img{
    border-radius: 10px;
}
.logo {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    animation: scaleLogo 2s ease-in-out infinite alternate;
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}
@keyframes scaleLogo {
    from { transform: scale(1); }
    to { transform: scale(1.4); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.typing-text {
  margin-top: 20px;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;

  width: 12ch;           
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;

  display: inline-block;
  animation: typing 3s steps(12) forwards, blink 0.8s infinite;
}

.typing-text {
  font-family: "Arial", sans-serif;
}

.typing-text .highlight {
  color: #CFDA77; 
}
@keyframes typing {
  from { width: 0; }
  to   { width: 12ch; }
}

@keyframes blink {
  0% { border-color: white; }
  50% { border-color: transparent; }
  100% { border-color: white; }
}

/* Loading bar */
.loader-bar {
  width: 300px;
  height: 18px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 25px auto 0;
  overflow: hidden;
}

.progress {
  width: 0%;
  height: 100%;
  background: white;
  border-radius: 10px;
  animation: loadProgress 5s linear forwards;
}

@keyframes loadProgress {
  from { width: 0%; }
  to { width: 100%; }
}

/* Fade effect */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

